<section id="homepage-carousel">
      <div class="app-carousel-container">
        <div class="app-slider" class="carousel slide" data-ride="carousel">
          <ol class= "carousel-indicators">
            <li data-target="#app-slider" data-slide-to="0"></li>
          </ol>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag( "https://image.freepik.com/free-photo/blood-orange-gin-tonic-cocktail-served-with-slices-orange-glass_8353-6099.jpg", class:"d-block w-100") %>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="carousel-text">Let the games beggin</h1>
          </div>
          

        </div>
      </div>
    </section>