<h1>Merchants#index</h1>
<p>Find me in app/views/merchants/index.html.erb</p>


<% @merchants.each do |merchant| %>
  <p>
  <%= link_to merchant.name, merchant_path(merchant.id) %>
  <%= merchant.email %>
  </p>
<% end %>