<h1>OrderItems#index</h1>
<p>Find me in app/views/order_items/index.html.erb</p>






<#% @order_items.each do |order_item| %>
<#%= Product.find_by(id: order.product_id).name %>
<#%= order_item.quanit%>