/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-header__nav_item {
  margin-top: 1rem;
  color: black;
}

.btn-primary {
  color: black;
  background-color: #FFF9D4;
  border-color: #FFF9D4;
}

.btn-primary:hover {
  color: #FFF9D4;
  background-color: black;
  border-color: black;
}

.nav-link {
  color: #FFF9D4;
}

.nav-link:hover {
  color: black;
}

h1 a {
  color: #FFF9D4;
}

h1 a:hover {
  color: black;
  text-decoration: none;
}

header {
  background: #D3A13B url("goldceiling.jpg") repeat center top;
}

body {
  background-color: #FFF9D0;
}

.navbar-custom {
  background: white;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar {
  // position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar a {
  color: #4f5d75 ;
  font-family: 'Roboto', Sans-Serif !important;
}
.navbar-brand {
  color: #310A31 !important;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 25rem;
  line-height: inherit;
  white-space: nowrap;
}

.app-carousel-container {
  width: 100%;
  display: inline-block;
}
.w-100 {
  width: 100% !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.carousel-text {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 2px 2px #2d3142;
  padding-bottom: 12rem;
}

h1 {
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
  font-size: 5rem;
  color: #2d3142;
  text-align: center;
  padding-bottom: 5rem;
}

#prod-deck {
  justify-content: right; 
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#prod-deck .card {
  flex-basis: 18rem;
  margin-top: 1rem;
}

#cat-prod-deck {
  justify-content: right; 
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#cat-prod-deck .card{
  flex-basis: 18rem;
  margin-top: 1rem;
}

#merch-prod-deck {
  justify-content: right; 
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#merch-prod-deck .card{
  flex-basis: 18rem;
  margin-top: 1rem;
}