<body>
    <h1>Categories List</h1>
    <ul>
    <% @categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
    </ul>
    <%= link_to "Back to merchant's dashboard", dashboard_path(id: session[:merchant_id]) %>
</body>
