<h1>Products#index</h1>



<h2>All Products</h2>

<ul>
<% @products.each do |product|%>
<li>
<% if product.retired == false %>
<%= link_to product.name, product_path(product.id) %>

<%= button_to "Retire Product", retired_product_path(product.id), method: :patch %>


<%end%>
</li>
<%end %>
</ul>

