<h2>All Products</h2>

<ul>
  <% @products.each do |product|%>
    <% if product.retired == false %>
    <li>
      <%= link_to product.name, product_path(product.id) %>
    </li>
    <%end%>
  <%end %>
</ul>